body {
    font-family: Arial, sans-serif;
    background-color: #F0ECE2;
    color: #2e251e;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 0;
    margin-left: 40px;
}

.base {
    margin: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
}

.img-box {
    height: 120px;
    width: 120px;
    border: solid 6px;
    border-color: #2e251e;
    border-radius: 36px;
    background: #F0ECE2;
    padding: 0;
    margin: 0;
    position: relative;
}

.canvas-box {
    height: 120px;
    width: 120px;
    border: solid 6px;
    border-color: #2e251e;
    border-radius: 36px;
    background: #F0ECE2;
    padding: 0;
    margin: 0;
    position: relative;
}

.box {
    height: 240px;
    width: 240px;
    padding: 0;
    margin: 0;
    position: relative;
}

.contents-box {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    height: auto;
    width: 100%; /* 親要素の内側いっぱいに広がる */
    background: #2e251e;
    border-radius: 48px;
    border: solid 6px #2e251e;
    padding: 12px;
    box-sizing: border-box; /* パディングやボーダーの影響を受ける */
}

.label-box {
    height: auto;
    width: auto;
    border-radius: 36px;
}

.img-img {
    height: 120px;
    width: 120px;
    padding: 0;
    margin: 0;
    position: absolute;
}

.canvas-img {
    height: 240px;
    width: 240px;
    padding: 0;
    margin: 0;
    position: absolute;
}

.back {
    z-index: 1;
}

.front {
    z-index: -1;
}

input {
    position: fixed;
    opacity: 0;
}

label {
    transform: scale(1.0);
    transition: transform 0.2s ease-in-out;
}

input[type="radio"]:checked + label .img-box {
    transform: scale(1.05);
}

.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #FFF;
    background-color: #000;
    border: 12px solid #000;
    border-radius: 36px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    color: #000;
    background-color: #FFF;
    border-color: #FFF;
}
